$bg-color: #34343e;
$active-color: #595869;

.menu {
  width: 25%;
  height: 100vh;
  background-color: $bg-color;
  margin: 0;
  padding: 20px;
  color: white;

  .iconsRow {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    // justify-content: center;
  }

  .instructionsContainer {
    margin-top: 100px;
  }

  .instructionsText {
    width: 65%;
  }

  .icon {
    width: 25px;
    margin-right: 5px;
  }

  .iconHeight {
    height: 25px;
    width: auto;
    margin-right: 5px;
  }

  .iconBetween {
    margin: 0px 10px 0px 5px;
  }

  .instructions {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
  }

  .btnsHolder {
    margin-bottom: 20px;
    .btn {
      width: 50%;
      padding: 5px 20px 5px 20px;
      margin: 0px 0px 0px 0px;
      font-size: 16px;
      border-radius: 0px;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
    .btn-normal {
      border-color: $active-color;
      color: white;
      background-color: #46464e;
    }
    .btn-normal-white{
      border-color: white;
      color: white;
      background-color: $bg-color;
    }
    .btn-active {
      background-color: $active-color;
      color: white;
      border-color: $active-color;
    }
    .btn-active-white {
      background-color: white;
      color: $bg-color;
      border-color: white;
    }
}
}

.Dropdown-control, .Dropdown-option {
  background-color: #595869;
  border-color: #595869;
  color: white;
}

.rc-checkbox-checked .rc-checkbox-inner {
  background-color: $active-color !important;
  border-color: $active-color !important;
}

.rc-checkbox:hover .rc-checkbox-inner, .rc-checkbox-input:focus + .rc-checkbox-inner {
  border-color: #F5D801 !important;
}

.checkbox-label {
  margin-left: 5px;
}

.rc-checkbox-checked .rc-checkbox-inner:after {
  // border: 2px solid $bg-color;
  transform: rotate(45deg);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    content: ' ';
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-duration: 0.3s;
    animation-name: amCheckboxOut;
}

.legend {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #fff , #46a7c4);
  margin: 20px 0px 3px 0px ;
}

.dayHeader {
  margin-bottom: 30px;
}

.header {
  display: inline-block;
}

.legendTxt {
  margin-bottom: 40px;
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
}

.gradientLegend {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  // background-image: linear-gradient(to right, #ffffd9,#c7e9b4,#41B6C4, #41b6c4,#225ea8,#081d58);
  background-image: linear-gradient(to right, #F5D801, #C7DC34, #9BDC57, #74D877, #1CBFA0, #00828E, #2A4858);
  margin: 20px 0;
}

.legendImg {
  width: 100%;
}
