$bg-color: #565656;
$active-color: #F5D800;

.menu {
  width: 25%;
  height: 100vh;
  background-color: $bg-color;
  margin: 0;
  padding: 20px;
  color: white;

  .iconsRow {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    // justify-content: center;
  }

  .instructionsText {
    width: 65%;
  }

  .icon {
    width: 25px;
    margin-right: 5px;
  }

  .iconHeight {
    height: 25px;
    width: auto;
    margin-right: 5px;
  }

  .iconBetween {
    margin: 0px 10px 0px 5px;
  }

  .instructions {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }

  .btnsHolder {
    margin-bottom: 20px;
    .btn {
      width: 50%;
      padding: 5px 20px 5px 20px;
      margin: 0px 0px 0px 0px;
      font-size: 16px;
      border-radius: 0px;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
    .btn-normal {
      border-color: $active-color;
      color: $active-color;
      background-color: $bg-color;
    }
    .btn-normal-white{
      border-color: white;
      color: white;
      background-color: $bg-color;
    }
    .btn-active {
      background-color: $active-color;
      color: $bg-color;
      border-color: $active-color;
    }
    .btn-active-white {
      background-color: white;
      color: $bg-color;
      border-color: white;
    }
}
}

.Dropdown-control, .Dropdown-option {
  background-color: #7a7979;
  border-color: #7a7979;
  color: white;
}
