.calendar {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
  }
  .pushLeft {
    display: flex;
    align-items: flex-start;
  }
}


.calendar-container {
   padding: 20px;
   width: 840px;
}

.day-nr {
  margin: 5px 5px 0px 0px;
  text-align: right;
  font-size: 10px;
}

.date-grid {
  display: grid;
  justify-items: center;
  grid-row-gap: 0;
  width: 130px;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
  display: grid;
  margin-bottom: 20px;
  color: #2E3835;
  align-items: flex-start;
  grid-template-columns: repeat(7, 1fr);
  .day {
    box-sizing: border-box;
    margin-right: 2px;
    text-align: right;
  }
}

.day-wrapper {
  border: 1px solid #edf1f4;
  &:hover {
    cursor: pointer;
  }
}

.monday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 1;
  }
}
.tuesday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 2;
  }
}
.wednesday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 3;
  }
}
.thursday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 4;
  }
}
.friday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 5;
  }
}
.saturday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 6;
  }
}
.sunday {
  border: 1px solid #edf1f4;
  &:first-child {
    grid-column: 0;
  }
}
