.summaryContainer {
  display: flex;
  flex-direction: column !important;
}

#violinPlot {
  position: relative;
  left: 20px;
}

.grid line {
  stroke: #DCE6E3;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
