body {
  margin: 0;
}
.app {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  .menuContainer {
    width: 20%;
    height: 100vh;
  }
  .chartContainer {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
  }
}
