@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');

body {
  margin: 0;
  font-family: 'Chivo';
}
.app {
  display: flex;
  .menuContainer {
    width: 20%;
    height: 100vh;
  }
  .chartContainer {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .calendarContainer {
    width: 75%;
    padding: 60px;
  }
}
